<a href="https://colab.research.google.com/github/TMhdSofyan/KAUST-Hackathon-EnergyHarvest/blob/main/03_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
! pip install jcopml

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from jcopml.pipeline import num_pipe, cat_pipe
from jcopml.utils import save_model, load_model
from jcopml.plot import plot_missing_value
from jcopml.feature_importance import mean_score_decrease

In [87]:
df = pd.read_csv('/content/drive/MyDrive/00_History_Matching/Data/df_merged.csv')
df.head()

,case_num,days,years,oil_prod_rate,oil_prod_cum,water_inj_rate,water_inj_cum,category,Kh_Kv,inj_rate,permeability,porosity,prod_bhp,thickness
0,0,0,0.000000,0.0,0,0.00,0.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
1,0,31,0.084932,26614.0,825035,1740.71,53962.1,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
2,0,62,0.169863,21427.7,1489290,1740.71,107924.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
3,0,93,0.254795,18809.7,2072390,1740.71,161886.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
4,0,124,0.339726,16676.6,2589370,1740.71,215848.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632

In [96]:
import pandas as pd

# Initialize an empty list to store the split datasets
split_datasets = []

# Get unique values in the "case_num" column
unique_cases = df['case_num'].unique()

# Iterate over each unique case_num
for case in unique_cases:
    # Filter the data for the current case_num and the desired range of days
    case_data = df[(df['case_num'] == case) & (df['days'] >= 2500) & (df['days'] <= 3500)]
    
    # Append the split dataset to the list
    split_datasets.append(case_data)

# Concatenate the split datasets into a single DataFrame
Validation_df = pd.concat(split_datasets)

# Reset the index of the concatenated DataFrame
Validation_df.reset_index(drop=True, inplace=True)

In [101]:
Validation_df.tail()

,case_num,days,years,oil_prod_rate,oil_prod_cum,water_inj_rate,water_inj_cum,category,Kh_Kv,inj_rate,permeability,porosity,prod_bhp,thickness
31995,999,3348,9.172603,2081.51,27641700,1998.33,6690410.0,test,29.653913,1998.328914,160.051346,0.197521,353.949063,62.922681
31996,999,3379,9.257534,2078.85,27706100,1998.33,6752350.0,test,29.653913,1998.328914,160.051346,0.197521,353.949063,62.922681
31997,999,3410,9.342466,2076.36,27770500,1998.33,6814300.0,test,29.653913,1998.328914,160.051346,0.197521,353.949063,62.922681
31998,999,3441,9.427397,2074.02,27834800,1998.33,6876250.0,test,29.653913,1998.328914,160.051346,0.197521,353.949063,62.922681
31999,999,3472,9.512329,2071.83,27899000,1998.33,6938200.0,test,29.653913,1998.328914,160.051346,0.197521,353.949063,62.922681

In [102]:
# Save df
file_path = '/content/drive/MyDrive/00_History_Matching/Data/Validation_df.csv'
Validation_df.to_csv(file_path, index=False)

In [103]:
import pandas as pd

# Initialize an empty list to store the split datasets
split_datasets = []

# Get unique values in the "case_num" column
unique_cases = df['case_num'].unique()

# Iterate over each unique case_num
for case in unique_cases:
    # Filter the data for the current case_num and the desired range of days
    case_data = df[(df['case_num'] == case) & (df['days'] >= 0) & (df['days'] <= 2500)]
    
    # Append the split dataset to the list
    split_datasets.append(case_data)

# Concatenate the split datasets into a single DataFrame
Training_df = pd.concat(split_datasets)

# Reset the index of the concatenated DataFrame
Training_df.reset_index(drop=True, inplace=True)

In [100]:
Training_df.head()

,case_num,days,years,oil_prod_rate,oil_prod_cum,water_inj_rate,water_inj_cum,category,Kh_Kv,inj_rate,permeability,porosity,prod_bhp,thickness
0,0,0,0.000000,0.0,0,0.00,0.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
1,0,31,0.084932,26614.0,825035,1740.71,53962.1,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
2,0,62,0.169863,21427.7,1489290,1740.71,107924.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
3,0,93,0.254795,18809.7,2072390,1740.71,161886.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632
4,0,124,0.339726,16676.6,2589370,1740.71,215848.0,train,16.423475,1740.711355,288.983333,0.163009,796.992254,23.718632

In [104]:
# Save df
file_path = '/content/drive/MyDrive/00_History_Matching/Data/Training_df.csv'
Training_df.to_csv(file_path, index=False)